.game-container {
    max-width: 800px;
    margin: auto;
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 70px;
}


.game-container h2 {
    margin-bottom: 0px; 
}



.category-container {
    display: flex;
    margin-top: 0px;
}


.category-block {
    width: 45%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; 
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Title Styles */
.title-physical, .title-emotional, .title-safe, .title-private {
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    font-weight: bolder;
    color: #333;
    padding: 10px 0;
    background-color: rgba(255, 255, 255, 0.8); 
    position: absolute;
    top: 10px; 
    left: 50;
    z-index: 2; 
}


.category {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    min-height: 450px; 
    margin-top: 10px; 
    border: 2px solid #ddd;
    align-items: flex-start; 
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    animation: fadeIn 0.5s ease-in-out;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}



.category-image {
    width: 100%;
    height: auto;
    padding-top: 70px;
    padding-bottom: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; 
}


.item {
    padding: 8px;
    background-color: #6c63ff;
    color: white;
    border-radius: 5px;
    margin: 5px 0; 
    cursor: grab;
    transition: transform 0.3s ease;
    opacity: 1;
    z-index: 10;
    position: relative;
}

.item:hover {
    transform: scale(1.1);
}

/* Input Style */
input[type="text"] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Feedback Panel Styling */
.feedback-panel {
    color: #D8000C;
    font-size: 16px;
    margin-top: 10px;
    width: 100%;
    background-color: #FFD2D2;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    position: relative;
}

/* Button Styling */
button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #6C63FF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
