#quiz-container {
    align-items: center;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

h1 {
    color: #6C63FF;
    margin-bottom: 20px;
}

.question {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.answers {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.answers li {
    padding: 10px;
    margin: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.answers li:hover {
    background-color: #f0f0f0;
    transform: scale(1.05);
}

.action-button {
    background-color: #6C63FF;
    color: white;
    border: none;
    align-items: center;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease-out;
}

.action-button:hover {
    background-color: #857df2;
    transform: scale(1.1);
}

.result {
    font-size: 1.2em;
    margin-top: 20px;
}
